[submodule "home-manager/.config/nvim/lua/me/private"]
	path = home-manager/.config/nvim/lua/me/private
	url = git@github.com:0xmycf/nvim-private.git
[submodule "home-manager/.config/private"]
	path = home-manager/.config/private
	url = git@github.com:0xmycf/private-gitconfigs.git
